# the fully qualified server (or service) name
FQDN = {{ idm_server_fqdn }}
# ALTNAMES = DNS:$FQDN

# --- no modifications required below ---
[ req ]
default_bits = 2048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
CN = $FQDN

[ alt_names ]
DNS.1 = $FQDN
DNS.2 = {{ idm_hostname }}-ca.{{ aws_guid_public_zone_name }}

[ req_ext ]
# subjectAltName = $ALTNAMES
subjectAltName = @alt_names