dn: uid=workshopbdn,cn=admins,{{ idm_base_dn }}
add:objectclass:account
add:objectclass:simplesecurityobject
add:uid:workshopbdn
add:userPassword:{{ idm_server_ds_password }}
add:passwordExpirationTime:20380119031407Z
add:nsIdleTimeout:0